html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
 
.warrpe{
    width: 100%; 
}
.warrpe .content{
    width: 1226px;
    margin: 0 auto;
}
.top-nav{
    background-color: #333;
}