.type-SH {

    height: 40px;
    background-color: rgb(46, 47, 47);
    display: flex;
    justify-content: space-between;
    line-height: 40px;

}


.left-content a {
    color: darkgray;
    text-decoration: none;
    font-size: 12px;
    margin-right: 14px;
}

.left-content a:hover {
    color: azure;
}

.right-content a {
    color: darkgray;
    text-decoration: none;
    font-size: 12px;
    margin-right: 14px;

}

.right-content a:hover {
    color: azure;
}

.right-content .che:hover {
    color: rgb(222, 87, 14);
}


.nav-box {
    position: relative;
}

.category {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.category>img {
    width: 54px;
    height: 54px;
}

.category a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-left: 18px;
    padding: 40px 0;

}

.category a:hover {
    color: chocolate;
}

.category .sousuo {
    display: flex;
}



.category .sousuo>input {
    width: 244px;
    height: 42px;
}

.category .sousuo .scher {
    width: 48px;
    height: 46px;
    border: 1px solid rgb(133, 130, 130);
    line-height: 46px;
    text-align: center;
}

.category .sousuo img {
    width: 18px;
    height: 20px;
}

.category a:hover~.big-shown {
    height: 310px;
    border-color: #9b999a;
}

.big-shown:hover {
    height: 310px;
    border-color: #9b999a;
}

.category .big-shown {
    width: 100vw;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 98px;
    border: 2px solid transparent;
    transition: all 0.5s;
    height: 0;
    overflow: hidden;
}

.category .product-shown {
    width: 1226px;
    margin: 0 auto;
    height: 310px;
    font-size: 16px;
    color: black;
    display: flex;
}

.category .product-shown .small-box {
    width: 186px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 26px;
}

.category .product-shown .small-box>img {
    margin-bottom: 26px;
}

.category .product-shown .small-box .tag {
    color: chocolate;
    margin-top: 10px;
}


.category a:hover {
    height: 310px;
}



.big-title {
    width: 100%;
    height: 460px;
    background-color: aqua;
    display: flex;
}

.left-nav {
    width: 232px;
    height: 100%;
    color: aliceblue;
    font-size: 14px;
    background-color: #9b999a;
    padding-top: 33px;
    padding-bottom: 33px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-nav .nav1 {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 24px;
    box-sizing: border-box;
}

.left-nav .nav1:hover {
    background-color: coral;
}


.left-nav .nav1>img {
    width: 6px;
    height: 10px;
}

.right-nav {
    flex: 1;
    position: relative;

}

.right-nav>img {
    width: 100%;
    height: 100%;

}

.right-nav .dir {
    width: 30px;
    padding: 20px 10px;
    text-align: center;

    position: absolute;
    right: 0;
    top: 50%;
}

.right-nav .dir1 {
    left: 0;
    transform: rotate(180deg);
}

.right-nav .dir:hover {
    background-color: #605750;
}

.content .product {
    width: 100%;
    height: 168px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;

}

.content .product .service {
    width: 234px;
    height: 168px;
    font-size: 12px;
    color: #9b999a;
    background-color: #605750;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;

}

.content .product .service1 {
    width: 76px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.content .product .service1>img {
    width: 22px;
    height: 22px;
}

.product img {
    width: 314px;
    height: 100%;
}